<!-- Template Main JS File <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{{ absURL "js/bootstrap.bundle.min.js"  }}"></script>
<script src="{{ absURL "js/main.js"  }}"></script>-->


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
<script type="text/javascript">
  algoliasearchNetlify({
    appId: 'TPDFKNI87M',
    apiKey: 'e7446b1c4256d1169160af10fb2f1af9',
    siteId: 'a465b3fd-4bc3-4232-99ac-95303c120cd3',
    branch: 'master',
    selector: 'div#search',
  });
</script>
